<h2>[Artículos]</h2>
<ul class="menu">
    <li><a href="#">Running an ASP.NET MVC 3 app on a web server that doesn’t have ASP.NET MVC 3 installed</a></li>
    <li><a href="#">TDD and Dependency Injection with ASP.NET MVC</a></li>
</ul>

<h2>[Bookmarks]</h2>