@model System.Collections.Generic.IList<MyCMS.Domain.Entities.Menu>

@using MyCMS.Domain.Entities

@foreach (Menu m in Model)
{
    <h2>@m.Title</h2>
    <ul class="menu">
    @foreach (MenuItem i in m.Items)
    {
        <li><a href="@Url.Content(i.Url)">@i.Title</a></li>
    }
    </ul>
}